<h1 class="text-center mt-4">Muhammad Waqas</h1>

<p class="text-center"><%= link_to 'Return to article page', articles_path %></p>

<p class="text-center"><%= link_to 'Return to home page', root_path %></p>

