@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: black !important;
}
.nav-link {
  color: white !important;
}
.navbar-brand{
  color: white;
  font-weight: bold;
  font-size: 30px;
}